
html, body {
 margin:0;
 padding:0;
 }
.liseret{
	background-color: #00BCD4;
	width: 25%;
	height: 1250px;
	display: inline-block;
	float: left;
	margin-left: 0px;
	margin-right: 60px;
}
.liseret .Para{
	background: #424242;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #00BCD4;
}
img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom: 40px;
	border: 2px solid #81D4FA;
}
.arrondie{
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
}
.contact{
	text-align: left;
	padding-left: 30px;
	padding-bottom: 60px;
}
.propos{
	text-align: justify;
	padding: 20px 30px 200px 30px;
}
.loisirs p{
	display: flex;
	justify-content: space-around;
	color: #616161;
	-moz-border-radius:80%;
	-webkit-border-radius:80%;
	border-radius:80%;
}
header{
	text-align: left;
	padding-top: 120px;
}
.identite{
	font-size: 80px;
	text-transform: uppercase;
	margin-left: 5px;
}
.fonction{
	color: #424242;
	font-weight: bold;
	font-size: 30px;
}
section{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	margin-right: 20px;
}
h1, h2, h3{
	border-bottom: 2px solid #00BCD4;
}
.bloc1, .bloc2, .bloc3{
	display: flex;
	justify-content: space-between;
}
.reco1, .reco2{
	font-weight: bold;
	margin-right: 300px;
}
.text{
	float: right;
	margin-left: 30px;
}


	
@media all and (max-width: 780px)

{
	.liseret{
		padding: 10px;
		width: 15%;
	}
	.bloc3{
		display: block;
		justify-content: space-between;
	}
}
