html, body{
 margin:0;
 padding:0;
 }
.liseret{
	background-color: #00BCD4;
	width: 25%;
	height: 1450px;
	display: inline-block;
	float: left;
	margin-left: 0px;
	margin-right: 60px;
}
.liseret .Para{
	background: #424242;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #00BCD4;
}
img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom: 40px;
	border: 2px solid #81D4FA;
}
.arrondie{
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
}
.contact{
	text-align: left;
	padding-left: 30px;
	padding-bottom: 60px;
}
.propos{
	text-align: justify;
	padding: 20px 30px 400px 30px;
}
.loisirs p{
	display: flex;
	justify-content: space-around;
	color: black;
	padding-bottom: 20px;	
}
.loisirs .fas{
	border: 2px solid black;
	-moz-border-radius:70%;
	-webkit-border-radius:70%;
	border-radius:70%;
	padding: 4px 4px 4px 4px;
}
header{
	text-align: left;
	padding-top: 100px;
}
.identite{
	font-size: 80px;
	text-transform: uppercase;
	margin-left: 5px;
}
.prenom{
	color: #00BCD4;
}
.surligner{
	text-decoration: underline solid #00BCD4;
}
h1 .fas, h2 .fas, h3 .fas{
	font-size: 36pt;
	margin: 15px;
	color: #00BCD4;
}
h1, h2, h3{
	text-transform: uppercase;
	 font-size: 30px;
	 border-bottom: 2px solid #00BCD4;
}
.fonction{
	color: #424242;
	font-weight: bold;
	font-size: 30px;
}
section{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	margin-right: 20px;
}
.bloc1, .bloc2, .bloc3{
	display: flex;
	justify-content: space-between;
	text-align: justify;
}
.date .fas, .far{
	color: #00BCD4;
	margin: 10px;
}
.bloc1, .text{
	margin-top: 4px;
}
.reco1, .reco2{
	font-weight: bold;
	margin-right: 300px;
}
.nom{
	text-transform: uppercase;
}
.mail{
	font-style: italic;
	font-weight: normal;
}
.text{
	margin-left: 30px;
	padding-left: 5px;
}
.date{
	padding-right: 6px;
}
@media screen and (max-width: 780px)
{
	body{
		margin-left: 4px;
	}
	.liseret{
		display: block;
		bottom: 0;
		width: 100%;
		height: 300px;
		overflow: scroll;
		background-color: #FFFF8D;
	}
	.propos{
		padding-bottom: 20px;
	}
	.reco1, .reco2{
		margin-right: 10px;
		margin-bottom: 10px;
	}
}
	

